

body{
    
    background-color: #ededed;
}
.img-responsive {
    margin: 0 auto;
}

footer{
    
    background-color: #d3d3d3;
}

h2{
  color: #da4458;
}

#convenio h3{
    
    color: #da4458
}

#sobre_diretoria h3{
    
    color: #da4458
}

.navbar .navbar-nav {
display: inline-block;
float: none !important;
}

.navbar .navbar-collapse {
text-align: center;
}

.navbar-default {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}
.navbar-default .navbar-brand {
  color: #00a85a;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e3171a;
}
.navbar-default .navbar-text {
  color: #00a85a;
}
.navbar-default .navbar-nav > li > a {
  color: #00a85a;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e3171a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e3171a;
  background-color: #ededed;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e3171a;
  background-color: #ededed;
}
.navbar-default .navbar-toggle {
  border-color: #00a758;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ededed;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #00a85a;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #00a85a;
}
.navbar-default .navbar-link {
  color: #00a85a;
}
.navbar-default .navbar-link:hover {
  color: #e3171a;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #00a85a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e3171a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e3171a;
    background-color: #ededed;
  }
}